# Ignoring Node
/node_modules
/lib

# Ignoring main.ts used for debuging in VS code
main.ts

# Ignoring .env files
.env
.env.test

# Ignoring test coverage report
.nyc_output/
coverage/

# Igniring Jetbrains IDE
.idea/

# Ignoring Mac file finder files
.DS_Store
